*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ebecee;
    border: 2px solid black;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrito-compras{
    margin-left: 30%;

}

.logo{
    width: 100px;
    height: 100px;
}

.carrito-img{
    width: 30px;
    height: 30px;
}

.carrito-cantidad{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 500%;
    color: white;
    font-size: 18px;
    text-align: center;
}

.carrito-click{
    position: absolute;
    right: 0;
    background-color: white;
    border: 2px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrito-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.carrito-menu img{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}

.menu-cantidad{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.menu-cantidad button{
    margin: 0px 10px;
}

.total{
    width: 500px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    position: absolute;
    bottom: -20px;
    background-color: white;
}

.menu-eleccion{
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    background-color: red;
    cursor: pointer;
}

.change{
    background-color: #ebecee;
}

.menu-eleccion h1{
    border: 10px solid black;
    width: 33%;
    text-align: center;
}


.menu-img{
    width: 400px;
    height: 400px;
    margin:  20px 10px;
}

.menu-hora{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-hora div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ocultar{
    display: none;
}

#btn-eliminar{
    width: 12px;
    height: 12px;
}

#btn-eliminar:hover{
    cursor: pointer;
    filter: invert(15%) sepia(72%) saturate(4828%) hue-rotate(354deg) brightness(105%) contrast(124%);
}

/*Vista Mobile*/

@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #ebecee;
        border: 2px solid black;
    }

    .titulo{
        width: 70%;
        font-size: 70%;
        font-weight: bold;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carrito-compras{
        margin-left: 0;
    }

    .logo{
        width: 35%;
        height: 100px;
    }

    .carrito-img{
        width: 80%;
        height: 30px;
    }

    .carrito-cantidad{
        position: absolute;
        height: 20px;
        width: 7%;
        background-color: red;
        border-radius: 500%;
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .carrito-click{
        background-color: white;
        border: 2px solid black;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .carrito-menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .carrito-menu img{
        width: 100px;
        height: 100px;
        margin: 10px 10px;
    }

    .menu-cantidad{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    .menu-cantidad button{
        margin: 0px 10px;
    }

    .total{
        width: 101%;
        display: flex;
        justify-content: space-around;
        border: 2px solid black;
        position: absolute;
        bottom: -20px;
        background-color: white;
    }

    .menu-eleccion{
        width: 100%;
        display: flex;  
        flex-direction: row;
        justify-content: space-evenly;
        background-color: red;
        cursor: pointer;
    }

    .change{
        background-color: #ebecee;
    }

    .menu-eleccion h1{
        border: 10px solid black;
        width: 33%;
        text-align: center;
        font-size: 100%;
    }


    .menu-img{
        width: 90%;
        height: auto;
        margin:  20px 10px;
    }

    .menu-hora{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-hora div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .ocultar{
        display: none;
    }

    #btn-eliminar{
        width: 12px;
        height: 12px;
    }

    #btn-eliminar:hover{
        cursor: pointer;
        filter: invert(15%) sepia(72%) saturate(4828%) hue-rotate(354deg) brightness(105%) contrast(124%);
    }   
}