nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ebecee;
    border: 2px solid black;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrito-compras{
    margin-left: 30%;
}

.logo{
    width: 100px;
    height: 100px;
}


.menu-eleccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: red;
    cursor: pointer;
}

.change{
    background-color: #ebecee;
}

.menu-eleccion h1{
    border: 10px solid black;
    width: 33%;
    text-align: center;
}


.menu-img{
    width: 400px;
    height: 400px;
    margin:  20px 10px;
}

.menu-hora{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-hora div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ocultar{
    display: none;
}